<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="Official NuGet Gallery" value="https://www.nuget.org/api/v2/" />
<!--    <add key="SpecFlow" value="/Volumes/C/Work/TechTalk/SpecFlow/SpecFlow/Installer/NuGetPackages/bin" /> -->
	<add key="YoloDev" value="https://www.myget.org/F/yolodev/api/v2"/>
        <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2"/>
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
<!--    <add key="SpecFlow" value="/Volumes/C/Work/TechTalk/SpecFlow/SpecFlow/Installer/NuGetPackages/bin" /> -->
  </activePackageSource>
</configuration>
